<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='mainFrame'>
		
		<div class='topName'>
			<img id="menu-icon" src="/assets/Icons_menu.gif"/>
			<span id="title"></span>
		</div>
		
		<div class='topName_filler'></div>

		<%= yield %>

	</div>

</body>
</html>
